In [130]:
import numpy as np
import pandas as pd

In [131]:
# load data (use your own local paths here)
yahoo_df = pd.read_csv("C:/Users/Zachary Chan/Downloads/ECS 171/Project/yahoo.zip")
news_df = pd.read_csv("C:/Users/Zachary Chan/Downloads/ECS 171/Project/WorldNewsData.csv.zip")

## Yahoo Dataset

View data

In [132]:
yahoo_df.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Company
0,2018-11-29 00:00:00-05:00,43.829761,43.863354,42.639594,43.083508,167080000,0.00,0.0,AAPL
1,2018-11-29 00:00:00-05:00,104.769074,105.519257,103.534595,104.636131,28123200,0.00,0.0,MSFT
2,2018-11-29 00:00:00-05:00,54.176498,55.007500,54.099998,54.729000,31004000,0.00,0.0,GOOGL
3,2018-11-29 00:00:00-05:00,83.749496,84.499496,82.616501,83.678497,132264000,0.00,0.0,AMZN
4,2018-11-29 00:00:00-05:00,39.692784,40.064904,38.735195,39.037853,54917200,0.04,0.0,NVDA

In [133]:
yahoo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 602962 entries, 0 to 602961
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Date          602962 non-null  object
 1   Open          602962 non-null  float64
 2   High          602962 non-null  float64
 3   Low           602962 non-null  float64
 4   Close         602962 non-null  float64
 5   Volume        602962 non-null  int64
 6   Dividends     602962 non-null  float64
 7   Stock Splits  602962 non-null  float64
 8   Company       602962 non-null  object
dtypes: float64(6), int64(1), object(2)
memory usage: 41.4+ MB

In [134]:
yahoo_df.describe(include='all')

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Company
count,602962,602962.000000,602962.000000,602962.000000,602962.000000,6.029620e+05,602962.00000,602962.000000,602962
unique,1258,NaN,NaN,NaN,NaN,NaN,NaN,NaN,491
top,2023-11-29 00:00:00-05:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AAPL
freq,491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1258
mean,NaN,140.074711,141.853492,138.276316,140.095204,5.895601e+06,0.00731,0.000344,NaN
std,NaN,275.401725,279.003191,271.895276,275.477969,1.381596e+07,0.12057,0.050607,NaN
min,NaN,1.052425,1.061195,1.026114,1.034884,0.000000e+00,0.00000,0.000000,NaN
25%,NaN,39.566159,40.056222,39.058151,39.563746,1.031500e+06,0.00000,0.000000,NaN
50%,NaN,79.177964,80.125563,78.193820,79.177906,2.228700e+06,0.00000,0.000000,NaN
75%,NaN,157.837190,159.746317,155.841609,157.847153,5.277400e+06,0.00000,0.000000,NaN
max,NaN,6490.259766,6525.000000,6405.000000,6509.350098,1.123003e+09,35.00000,20.000000,NaN

Select columns

In [135]:
new_yahoo_df = yahoo_df[['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Company']]

Convert date column to date type

In [136]:
new_yahoo_df['Date'] = pd.to_datetime(new_yahoo_df['Date'].astype(str), utc=True, errors='coerce').dt.tz_localize(None)
new_yahoo_df['Date'] = new_yahoo_df['Date'].dt.normalize()

C:\Users\Zachary Chan\AppData\Local\Temp\ipykernel_23176\2238314766.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_yahoo_df['Date'] = pd.to_datetime(new_yahoo_df['Date'].astype(str), utc=True, errors='coerce').dt.tz_localize(None)
C:\Users\Zachary Chan\AppData\Local\Temp\ipykernel_23176\2238314766.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_yahoo_df['Date'] = new_yahoo_df['Date'].dt.normalize()

In [137]:
print(new_yahoo_df['Date'].head())

0   2018-11-29
1   2018-11-29
2   2018-11-29
3   2018-11-29
4   2018-11-29
Name: Date, dtype: datetime64[ns]

## News Dataset

View data

In [138]:
news_df.head()

,Date,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,Top9,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
0,"May 01, 2018","North Korea to open its sky, South Korean medi...",The Mueller probe ain't ending anytime soon,BRAND NEW: 2018 – Renault Alpine A110 – Start-...,The story of the Midwestern innocent let loose...,Mattis tempers optimistic outlook on Afghanist...,Facebook is taking on Tinder with new dating f...,OECD chief says Greece deserves debt relief af...,Facebook to launch dating service,U.N. could help Myanmar gather evidence of cri...,...,Iran's Nuclear Threat,Jean 'Binta' Breeze Performance At Dis Poem: W...,Migrant says he ‘accidentally’ raped a Belgian...,My Email Newsletter of Curated Marketing Content,Mueller asks for 2 more months before Flynn se...,Mueller asks for 2 more months before Flynn se...,Canada to tack a carbon price of at least 11 c...,Kanye West: 'The class war is one of the reaso...,Michael Stewart/WireImage Kylie Jenner simply ...,For first time health ministry will regulate d...
1,"May 02, 2018",'What have they got to fear? ' Trump threatens...,"Best Garage Heater Reviews incuding electric, ...",Apple just fueled everyone's biggest fear abou...,Google accused of using GDPR to impose unfair ...,Man died accidentally after climbing behind wo...,When the coveted Palme d’Or trophy is awarded ...,"""Borders are Illegal?"" Tucker Carlson Vs Dumb ...","Mark Zuckerberg says it will take 3 years to ""...",The 8 Best Cooling Pillows You Can Buy,...,Palestinians said set to withdraw recognition ...,Half the Australian businesses that got a tax ...,Ideas To Make College Work For You,House Republicans nominate Donald Trump for No...,UK's May faces local election losses as key Br...,Whynter ICM-15LS Ice Cream Maker Review,"Abbas says Jews’ behavior, not anti-Semitism, ...",House Republicans nominate Trump for Nobel Pea...,"Tyson Foods the largest U.S. meat processor, h...",Questions linger about how Melania Trump score...
2,"May 03, 2018",Hollywood isn’t simply churning out crummy rem...,Iran's foreign minister: US has ‘consistently ...,Rihanna covers the June 2018 problem of Vogue ...,U.S. soldiers are secretly fighting Saudi Arab...,Canadian MP Bob Saroya took trip to China paid...,2017 Best Black Friday and Cyber Monday Mattre...,"NBC, ABC Say Trump Lawyer Michael Cohen Was No...",South Korean janitor may keep gold bars found ...,Last chance: UN warns Cambodia over failing de...,...,The world’s last male northern white rhino has...,Uruguay's soybean crop forecasted to drop 43% ...,We Now Have A Working Nuclear Reactor for Othe...,Marketing’s Customer Obsession Imperative | C3...,Ex-Trump aide Michael Caputo warns: Mueller Ru...,11-Year-Old Girl With Autism Wouldn’t Talk In ...,Richard Corkery/NY Each day Information throug...,What Makes the Brand Stand Out?,UK drones in Syria using controversial 'vacuum...,"High fruit diet could help women conceive, stu..."
3,"May 04, 2018",Donald Trump says London hospital is 'like a w...,German seat on UN Security Council likely as I...,Gang Used Drone Swarm To Thwart FBI Hostage Raid,How Many Carbs Should You Eat Per Day To Lose ...,Russian Troll Farm Goes After Mueller’s Files,Israeli soldiers singing in Persian for Irania...,Labor Day 2017 Sales on Memory Foam Mattresses...,"How a Chinese city turned all its 16,000 buses...",Jamie Acourt arrested in Spain over suspected ...,...,"2013 Cadillac CTS Luxury Walkaround, Start up,...","UK Local elections: 4,000 people turned away f...",Nico Tortorella speaks onstage throughout Risi...,How to Increase Sales by Encouraging Mobile Sp...,China’s schooling Trump on the art of the delay,Abi Ofarim ist tot,The 8 Best Snow Boots For Women,Kerry quietly seeking to salvage Iran deal he ...,Trump's Syria aid freeze hits 'White Helmets' ...,US slams Turkey over population transfers in A...
4,"May 05, 2018",Missing teen’s mom implores Canada to take not...,William and Kate release new pictures of Princ...,MEGHANS BROTHER SENDS PRINCE HARRY A SECRET LE...,Australia: Free whooping cough vaccine will be...,Shock and Thaw—Alaskan Sea Ice Just Took a Ste...,Giuliani: Trump is 'committed to' regime chang...,Pakistan: Polio eradication teams will visit d...,"Aides to Donald Trump, the US president, hired...",Donald Trump’s NRA speech causes anger in U.K....,...,Ontario PC Chief Doug Ford says former party m...,White supremacist Patrick Little is top challe...,Trump to stop granting temporary protected sta...,Revealed: Trump team hired spy firm for ‘dirty...,A Simple Way to Improve a Billion Lives: Eyegl...,Dutch cop requests removal of Holocaust memori...,Montreal couple agree to submit to peace bond ...,Air France boss resigns after 55 percent of em...,Air France boss resigns after 55 percent of th...,Award-winning filmmaker Carlos Carvalho dies a...

In [139]:
news_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1859 entries, 0 to 1858
Data columns (total 26 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1859 non-null   object
 1   Top1    1803 non-null   object
 2   Top2    1803 non-null   object
 3   Top3    1803 non-null   object
 4   Top4    1803 non-null   object
 5   Top5    1803 non-null   object
 6   Top6    1803 non-null   object
 7   Top7    1803 non-null   object
 8   Top8    1803 non-null   object
 9   Top9    1803 non-null   object
 10  Top10   1803 non-null   object
 11  Top11   1803 non-null   object
 12  Top12   1803 non-null   object
 13  Top13   1803 non-null   object
 14  Top14   1803 non-null   object
 15  Top15   1803 non-null   object
 16  Top16   1803 non-null   object
 17  Top17   1803 non-null   object
 18  Top18   1803 non-null   object
 19  Top19   1803 non-null   object
 20  Top20   1803 non-null   object
 21  Top21   1803 non-null   object
 22  Top22   1802 non-null   object
 23  Top23   1803 non-null   object
 24  Top24   1803 non-null   object
 25  Top25   1803 non-null   object
dtypes: object(26)
memory usage: 377.7+ KB

In [140]:
news_df.describe(include='all')

,Date,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,Top9,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
count,1859,1803,1803,1803,1803,1803,1803,1803,1803,1803,...,1803,1803,1803,1803,1803,1803,1802,1803,1803,1803
unique,1826,1756,1751,1752,1755,1751,1748,1754,1758,1761,...,1767,1752,1758,1757,1755,1755,1764,1758,1765,1757
top,"Oct 30, 2020",[deleted by user],[deleted by user],[deleted by user],[deleted by user],[deleted by user],[deleted by user],[deleted by user],[deleted by user],[deleted by user],...,[deleted by user],[deleted by user],[deleted by user],[deleted by user],[deleted by user],[deleted by user],[deleted by user],[deleted by user],[deleted by user],[deleted by user]
freq,2,14,19,14,12,14,16,11,11,10,...,8,21,16,17,16,21,12,20,12,19

Convert date column to date type

In [141]:
news_df['Date'] = pd.to_datetime(
    news_df['Date'], 
    format='%b %d, %Y',  # or '%B %d, %Y' for full month name
    errors='coerce'
)

In [142]:
print(news_df['Date'].head())

0   2018-05-01
1   2018-05-02
2   2018-05-03
3   2018-05-04
4   2018-05-05
Name: Date, dtype: datetime64[ns]

## Iterate through news dataframe to extract relavent info and process to a usable format

In [143]:
tickers_keywords = {
    "AAPL": ["AAPL", "Apple", "Apple Inc", "iPhone", "MacBook", "iPad", "Apple Watch", "AirPods", "Tim Cook", "App Store"],
    "MSFT": ["MSFT", "Microsoft", "Windows", "Azure", "Office 365", "Xbox", "Surface", "Bill Gates", "Satya Nadella", "LinkedIn"],
    "GOOGL": ["GOOGL", "Google", "Alphabet", "YouTube", "Android", "Google Cloud", "Gemini AI", "Sundar Pichai", "Waymo"],
    "AMZN": ["AMZN", "Amazon", "AWS", "Amazon Prime", "Kindle", "Whole Foods", "Alexa", "Jeff Bezos", "Andy Jassy"],
    "NVDA": ["NVDA", "NVIDIA", "GeForce", "RTX", "CUDA", "DGX", "H100", "Jensen Huang", "NVIDIA GPU"],
    "META": ["META", "Meta", "Facebook", "Instagram", "WhatsApp", "Threads", "Oculus", "Quest", "Mark Zuckerberg"],
    "TSLA": ["TSLA", "Tesla", "Elon Musk", "Model 3", "Model Y", "Cybertruck", "Gigafactory", "Autopilot", "Supercharger"],
    "LLY": ["LLY", "Eli Lilly", "Eli Lilly and Company", "Mounjaro", "Zepbound", "Trulicity", "Lilly drug", "David Ricks"],
    "V": ["V", "Visa", "Visa Inc", "Visa card", "Al Kelly", "Ryan McInerney"],
    "TSM": ["TSM", "TSMC", "Taiwan Semiconductor", "TSMC chips", "Morris Chang", "TSMC wafer"],
    "UNH": ["UNH", "UnitedHealth", "United Health Group", "Optum", "Andrew Witty"],
    "AVGO": ["AVGO", "Broadcom", "VMware", "Broadcom Inc", "Hock Tan", "Broadcom chip"],
    "NVO": ["NVO", "Novo Nordisk", "Ozempic", "Wegovy", "Lars Fruergaard Jørgensen"],
    "JPM": ["JPM", "JPMorgan", "J.P. Morgan", "Jamie Dimon", "Chase Bank", "JPMorgan Chase"],
    "WMT": ["WMT", "Walmart", "Sam’s Club", "Doug McMillon", "Walmart+"],
    "XOM": ["XOM", "ExxonMobil", "Exxon Mobil", "Exxon", "Darren Woods"],
    "MA": ["MA", "Mastercard", "MasterCard Inc", "Michael Miebach"],
    "JNJ": ["JNJ", "Johnson & Johnson", "J&J", "Janssen", "Alex Gorsky", "Joaquin Duato"],
    "PG": ["PG", "Procter & Gamble", "P&G", "Gillette", "Tide", "Ariel"],
    "ORCL": ["ORCL", "Oracle", "Larry Ellison", "Oracle Cloud", "Safra Catz"],
    "HD": ["HD", "Home Depot", "Ted Decker"],
    "ADBE": ["ADBE", "Adobe", "Photoshop", "Acrobat", "Illustrator", "Adobe Systems", "Shantanu Narayen"],
    "ASML": ["ASML", "ASML Holding", "EUV lithography", "Peter Wennink"],
    "CVX": ["CVX", "Chevron", "Chevron Corp", "Michael Wirth"],
    "COST": ["COST", "Costco", "Kirkland Signature", "Costco Wholesale", "Ron Vachris"],
    "TM": ["TM", "Toyota", "Toyota Motor", "Lexus", "Akio Toyoda"],
    "MRK": ["MRK", "Merck", "Merck & Co", "Keytruda", "Robert Davis"],
    "KO": ["KO", "Coca-Cola", "Coca Cola", "Coke", "James Quincey", "Diet Coke"],
    "ABBV": ["ABBV", "AbbVie", "Humira", "Skyrizi", "Richard Gonzalez"],
    "BAC": ["BAC", "Bank of America", "Brian Moynihan", "BofA", "Merrill Lynch"],
    "PEP": ["PEP", "Pepsi", "PepsiCo", "Gatorade", "Quaker Oats", "Ramon Laguarta"],
    "CRM": ["CRM", "Salesforce", "Marc Benioff", "Tableau", "Slack"],
    "SHEL": ["SHEL", "Shell", "Royal Dutch Shell", "Wael Sawan"],
    "ACN": ["ACN", "Accenture", "Julie Sweet"],
    "NFLX": ["NFLX", "Netflix", "Reed Hastings", "Ted Sarandos"],
    "MCD": ["MCD", "McDonald’s", "McDonalds", "Big Mac", "Chris Kempczinski"],
    "AMD": ["AMD", "Advanced Micro Devices", "Ryzen", "Radeon", "Lisa Su", "EPYC"],
    "LIN": ["LIN", "Linde", "Sanjiv Lamba"],
    "NVS": ["NVS", "Novartis", "Vas Narasimhan"],
    "AZN": ["AZN", "AstraZeneca", "Pascal Soriot", "Tagrisso"],
    "CSCO": ["CSCO", "Cisco", "Cisco Systems", "Chuck Robbins", "Webex"],
    "TMO": ["TMO", "Thermo Fisher", "Thermo Fisher Scientific", "Marc Casper"],
    "BABA": ["BABA", "Alibaba", "AliExpress", "Taobao", "Jack Ma", "Daniel Zhang"],
    "INTC": ["INTC", "Intel", "Intel Corp", "Pat Gelsinger", "Core Ultra", "Xeon"],
    "PDD": ["PDD", "Pinduoduo", "Temu", "Chen Lei", "PDD Holdings"],
    "SAP": ["SAP", "SAP SE", "S/4HANA", "Christian Klein"],
    "ABT": ["ABT", "Abbott", "Abbott Laboratories", "Robert Ford"],
    "TMUS": ["TMUS", "T-Mobile", "T Mobile", "Mike Sievert", "Magenta"],
    "PFE": ["PFE", "Pfizer", "Comirnaty", "Albert Bourla", "BioNTech"],
    "DIS": ["DIS", "Disney", "Walt Disney", "Disney+", "Pixar", "Bob Iger", "Marvel Studios"],
    "NKE": ["NKE", "Nike", "Air Jordan", "Phil Knight", "John Donahoe"],
    "CMCSA": ["CMCSA", "Comcast", "NBCUniversal", "Xfinity", "Brian Roberts"],
    "DHR": ["DHR", "Danaher", "Rainer Blair"],
    "INTU": ["INTU", "Intuit", "TurboTax", "QuickBooks", "Sasan Goodarzi"],
    "TTE": ["TTE", "TotalEnergies", "Total SA", "Patrick Pouyanné"],
    "WFC": ["WFC", "Wells Fargo", "Charlie Scharf"],
    "VZ": ["VZ", "Verizon", "Hans Vestberg", "Verizon Wireless"],
    "BHP": ["BHP", "BHP Group", "Mike Henry"],
    "HDB": ["HDB", "HDFC Bank", "Sashidhar Jagdishan"]
}

In [144]:
news_df.head()

,Date,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,Top9,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
0,2018-05-01,"North Korea to open its sky, South Korean medi...",The Mueller probe ain't ending anytime soon,BRAND NEW: 2018 – Renault Alpine A110 – Start-...,The story of the Midwestern innocent let loose...,Mattis tempers optimistic outlook on Afghanist...,Facebook is taking on Tinder with new dating f...,OECD chief says Greece deserves debt relief af...,Facebook to launch dating service,U.N. could help Myanmar gather evidence of cri...,...,Iran's Nuclear Threat,Jean 'Binta' Breeze Performance At Dis Poem: W...,Migrant says he ‘accidentally’ raped a Belgian...,My Email Newsletter of Curated Marketing Content,Mueller asks for 2 more months before Flynn se...,Mueller asks for 2 more months before Flynn se...,Canada to tack a carbon price of at least 11 c...,Kanye West: 'The class war is one of the reaso...,Michael Stewart/WireImage Kylie Jenner simply ...,For first time health ministry will regulate d...
1,2018-05-02,'What have they got to fear? ' Trump threatens...,"Best Garage Heater Reviews incuding electric, ...",Apple just fueled everyone's biggest fear abou...,Google accused of using GDPR to impose unfair ...,Man died accidentally after climbing behind wo...,When the coveted Palme d’Or trophy is awarded ...,"""Borders are Illegal?"" Tucker Carlson Vs Dumb ...","Mark Zuckerberg says it will take 3 years to ""...",The 8 Best Cooling Pillows You Can Buy,...,Palestinians said set to withdraw recognition ...,Half the Australian businesses that got a tax ...,Ideas To Make College Work For You,House Republicans nominate Donald Trump for No...,UK's May faces local election losses as key Br...,Whynter ICM-15LS Ice Cream Maker Review,"Abbas says Jews’ behavior, not anti-Semitism, ...",House Republicans nominate Trump for Nobel Pea...,"Tyson Foods the largest U.S. meat processor, h...",Questions linger about how Melania Trump score...
2,2018-05-03,Hollywood isn’t simply churning out crummy rem...,Iran's foreign minister: US has ‘consistently ...,Rihanna covers the June 2018 problem of Vogue ...,U.S. soldiers are secretly fighting Saudi Arab...,Canadian MP Bob Saroya took trip to China paid...,2017 Best Black Friday and Cyber Monday Mattre...,"NBC, ABC Say Trump Lawyer Michael Cohen Was No...",South Korean janitor may keep gold bars found ...,Last chance: UN warns Cambodia over failing de...,...,The world’s last male northern white rhino has...,Uruguay's soybean crop forecasted to drop 43% ...,We Now Have A Working Nuclear Reactor for Othe...,Marketing’s Customer Obsession Imperative | C3...,Ex-Trump aide Michael Caputo warns: Mueller Ru...,11-Year-Old Girl With Autism Wouldn’t Talk In ...,Richard Corkery/NY Each day Information throug...,What Makes the Brand Stand Out?,UK drones in Syria using controversial 'vacuum...,"High fruit diet could help women conceive, stu..."
3,2018-05-04,Donald Trump says London hospital is 'like a w...,German seat on UN Security Council likely as I...,Gang Used Drone Swarm To Thwart FBI Hostage Raid,How Many Carbs Should You Eat Per Day To Lose ...,Russian Troll Farm Goes After Mueller’s Files,Israeli soldiers singing in Persian for Irania...,Labor Day 2017 Sales on Memory Foam Mattresses...,"How a Chinese city turned all its 16,000 buses...",Jamie Acourt arrested in Spain over suspected ...,...,"2013 Cadillac CTS Luxury Walkaround, Start up,...","UK Local elections: 4,000 people turned away f...",Nico Tortorella speaks onstage throughout Risi...,How to Increase Sales by Encouraging Mobile Sp...,China’s schooling Trump on the art of the delay,Abi Ofarim ist tot,The 8 Best Snow Boots For Women,Kerry quietly seeking to salvage Iran deal he ...,Trump's Syria aid freeze hits 'White Helmets' ...,US slams Turkey over population transfers in A...
4,2018-05-05,Missing teen’s mom implores Canada to take not...,William and Kate release new pictures of Princ...,MEGHANS BROTHER SENDS PRINCE HARRY A SECRET LE...,Australia: Free whooping cough vaccine will be...,Shock and Thaw—Alaskan Sea Ice Just Took a Ste...,Giuliani: Trump is 'committed to' regime chang...,Pakistan: Polio eradication teams will visit d...,"Aides to Donald Trump, the US president, hired...",Donald Trump’s NRA speech causes anger in U.K....,...,Ontario PC Chief Doug Ford says former party m...,White supremacist Patrick Little is top challe...,Trump to stop granting temporary protected sta...,Revealed: Trump team hired spy firm for ‘dirty...,A Simple Way to Improve a Billion Lives: Eyegl...,Dutch cop requests removal of Holocaust memori...,Montreal couple agree to submit to peace bond ...,Air France boss resigns after 55 percent of em...,Air France boss resigns after 55 percent of th...,Award-winning filmmaker Carlos Carvalho dies a...

In [145]:
# Identify the columns to check
top_columns = [f"Top{i}" for i in range(1, 26)]

matches = []

for ticker, keywords in tickers_keywords.items():
    # Build regex pattern for keywords of this ticker
    pattern = "|".join(rf"\b{k}\b" for k in keywords)
    
    # Iterate through the 25 columns
    for col in top_columns:
        # Boolean mask where keywords are found (case-insensitive)
        mask = news_df[col].str.contains(pattern, case=False, na=False)
        
        # Extract matching rows, but keep only Date, the matched text, and the ticker
        temp_df = news_df.loc[mask, ["Date", col]].copy()
        temp_df.rename(columns={col: "text"}, inplace=True)
        temp_df["ticker"] = ticker
        
        matches.append(temp_df)

# Combine all matched results
result_df = pd.concat(matches, ignore_index=True)

In [146]:
result_df.rename(columns={'ticker': 'Company'}, inplace=True)

In [147]:
result_df.head()

        Date                                               text Company
0 2018-12-06  Apple’s iPhone revenue is set to fall this yea...    AAPL
1 2019-04-28  Using Apple Pay At Drive-Thrus Could Get You S...    AAPL
2 2019-05-29  iPhone 11 rumors: Price, specs, features and e...    AAPL
3 2019-10-08  Apple bows to China by censoring Taiwan flag e...    AAPL
4 2021-11-12  The latest iOS 15.2 beta adds a manual Macro m...    AAPL

In [148]:
result_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2509 entries, 0 to 2508
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     2509 non-null   datetime64[ns]
 1   text     2509 non-null   object
 2   Company  2509 non-null   object
dtypes: datetime64[ns](1), object(2)
memory usage: 58.9+ KB

## Merge yahoo and news dataframes

In [149]:
merged_df = pd.merge(new_yahoo_df, result_df, on=['Date', 'Company'], how='left')

In [150]:
merged_df.head()

,Date,Open,High,Low,Close,Volume,Company,text
0,2018-11-29,43.829761,43.863354,42.639594,43.083508,167080000,AAPL,NaN
1,2018-11-29,104.769074,105.519257,103.534595,104.636131,28123200,MSFT,NaN
2,2018-11-29,54.176498,55.007500,54.099998,54.729000,31004000,GOOGL,NaN
3,2018-11-29,83.749496,84.499496,82.616501,83.678497,132264000,AMZN,Amazon investigated for 'abuse' by German anti...
4,2018-11-29,39.692784,40.064904,38.735195,39.037853,54917200,NVDA,NaN

In [151]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 603269 entries, 0 to 603268
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   Date     603269 non-null  datetime64[ns]
 1   Open     603269 non-null  float64
 2   High     603269 non-null  float64
 3   Low      603269 non-null  float64
 4   Close    603269 non-null  float64
 5   Volume   603269 non-null  int64
 6   Company  603269 non-null  object
 7   text     1606 non-null    object
dtypes: datetime64[ns](1), float64(4), int64(1), object(2)
memory usage: 36.8+ MB

## Finalize dataframe by filtering for selected companies

In [152]:
company_list = list(result_df['Company'].unique())
company_list

['AAPL',
 'MSFT',
 'GOOGL',
 'AMZN',
 'NVDA',
 'META',
 'TSLA',
 'LLY',
 'V',
 'TSM',
 'NVO',
 'JPM',
 'WMT',
 'XOM',
 'MA',
 'PG',
 'ORCL',
 'HD',
 'ADBE',
 'ASML',
 'CVX',
 'COST',
 'TM',
 'MRK',
 'KO',
 'BAC',
 'PEP',
 'CRM',
 'SHEL',
 'ACN',
 'NFLX',
 'MCD',
 'AMD',
 'LIN',
 'NVS',
 'AZN',
 'CSCO',
 'BABA',
 'INTC',
 'ABT',
 'TMUS',
 'PFE',
 'DIS',
 'NKE',
 'CMCSA',
 'DHR',
 'INTU',
 'WFC',
 'VZ',
 'BHP']

In [153]:
final_df = merged_df[merged_df['Company'].isin(company_list)]

In [154]:
final_df.head(30)

,Date,Open,High,Low,Close,Volume,Company,text
0,2018-11-29,43.829761,43.863354,42.639594,43.083508,167080000,AAPL,NaN
1,2018-11-29,104.769074,105.519257,103.534595,104.636131,28123200,MSFT,NaN
2,2018-11-29,54.176498,55.007500,54.099998,54.729000,31004000,GOOGL,NaN
3,2018-11-29,83.749496,84.499496,82.616501,83.678497,132264000,AMZN,Amazon investigated for 'abuse' by German anti...
4,2018-11-29,39.692784,40.064904,38.735195,39.037853,54917200,NVDA,NaN
5,2018-11-29,135.919998,139.990005,135.660004,138.679993,24238700,META,NaN
6,2018-11-29,23.133333,23.166668,22.636667,22.744667,46210500,TSLA,NaN
7,2018-11-29,106.370278,108.796588,106.065834,107.938614,4688300,LLY,NaN
8,2018-11-29,135.973059,135.982718,134.059447,134.436371,8751500,V,NaN
9,2018-11-29,33.520714,33.891693,33.450050,33.503048,7056600,TSM,NaN
12,2018-11-29,19.554069,19.699040,19.460263,19.579651,2778200,NVO,NaN
13,2018-11-29,94.752316,95.207738,94.210975,94.571869,11144300,JPM,NaN
14,2018-11-29,89.127160,89.871269,88.869940,89.375198,6241300,WMT,NaN
15,2018-11-29,60.567479,61.581839,60.544250,61.217907,10255200,XOM,NaN
16,2018-11-29,196.521322,196.521322,190.938380,191.278809,5447700,MA,NaN
18,2018-11-29,81.820402,82.208095,81.644181,81.785156,6126900,PG,NaN
19,2018-11-29,44.574672,44.574672,43.708606,44.132427,17052100,ORCL,NaN
20,2018-11-29,157.362338,157.780666,155.689023,156.347672,4329300,HD,NaN
21,2018-11-29,246.360001,252.250000,244.309998,249.089996,3723500,ADBE,NaN
22,2018-11-29,163.608448,164.291218,162.119641,162.650681,1079700,ASML,NaN
23,2018-11-29,94.661442,96.089996,94.492906,95.383743,6656900,CVX,NaN
24,2018-11-29,214.395101,216.819916,213.795919,216.267548,1478700,COST,NaN
25,2018-11-29,121.519997,122.320000,121.379997,121.779999,125600,TM,NaN
26,2018-11-29,63.217048,64.273534,63.151533,63.806717,11429174,MRK,NaN
27,2018-11-29,42.493415,42.622759,42.226108,42.234730,11564300,KO,NaN
29,2018-11-29,25.010139,25.161016,24.823760,24.885887,46824600,BAC,NaN
30,2018-11-29,102.748966,103.156839,101.915867,102.636147,2878700,PEP,NaN
32,2018-11-29,139.850006,142.880005,139.270004,139.720001,7763000,CRM,NaN
33,2018-11-29,48.835189,49.084842,48.702308,48.802975,3097540,SHEL,NaN
34,2018-11-29,151.234587,151.467672,149.929305,150.171722,2414600,ACN,NaN

In [155]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 63207 entries, 0 to 602836
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     63207 non-null  datetime64[ns]
 1   Open     63207 non-null  float64
 2   High     63207 non-null  float64
 3   Low      63207 non-null  float64
 4   Close    63207 non-null  float64
 5   Volume   63207 non-null  int64
 6   Company  63207 non-null  object
 7   text     1606 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(1), object(2)
memory usage: 4.3+ MB

## Extra

Here is a more broad list of keywords and their corresponding tickers. Using this mapping system causes some false positives, but still may be useful so I'll leave it below.

In [156]:
broad_tickers_keywords = {
    "AAPL": ["AAPL", "Apple", "iPhone", "iPad", "MacBook", "Mac", "Apple Watch", "AirPods", "iOS", "Tim Cook"],
    "MSFT": ["MSFT", "Microsoft", "Windows", "Office", "Azure", "Xbox", "LinkedIn", "Teams", "Surface", "Copilot"],
    "GOOGL": ["GOOGL", "Google", "Alphabet", "Search", "YouTube", "Android", "Chrome", "Gemini", "Gmail", "Pixel"],
    "AMZN": ["AMZN", "Amazon", "Prime", "AWS", "Alexa", "Kindle", "Whole Foods", "Marketplace", "Echo", "Fire TV"],
    "NVDA": ["NVDA", "NVIDIA", "GeForce", "RTX", "GPU", "CUDA", "AI chips", "DLSS", "Jensen Huang", "Hopper"],
    "META": ["META", "Meta", "Facebook", "Instagram", "WhatsApp", "Messenger", "Threads", "Oculus", "Quest", "Reality Labs"],
    "TSLA": ["TSLA", "Tesla", "Elon Musk", "Model S", "Model 3", "Model X", "Model Y", "Cybertruck", "Gigafactory", "Autopilot"],
    "LLY": ["LLY", "Eli Lilly", "Mounjaro", "Zepbound", "Insulin", "Diabetes", "Pharma", "Weight loss drug", "Obesity", "Biopharma"],
    "V": ["V", "Visa", "Credit card", "Payments", "Fintech", "Debit", "Contactless", "Digital wallet", "Merchant", "Transactions"],
    "TSM": ["TSM", "TSMC", "Taiwan Semiconductor", "Chips", "Foundry", "Semiconductors", "Wafer", "5nm", "N3", "Fab"],
    "UNH": ["UNH", "UnitedHealth", "Optum", "Healthcare", "Insurance", "Medical", "Medicare", "Health benefits", "Pharmacy", "Wellness"],
    "AVGO": ["AVGO", "Broadcom", "Semiconductors", "Chips", "Networking", "Wi-Fi", "5G", "VMware", "Broadband", "Infrastructure"],
    "NVO": ["NVO", "Novo Nordisk", "Ozempic", "Wegovy", "Diabetes", "Insulin", "Pharma", "Obesity drug", "GLP-1", "Health"],
    "JPM": ["JPM", "JPMorgan", "Chase", "Bank", "Finance", "Investment", "Jamie Dimon", "Credit", "Wealth management", "Securities"],
    "WMT": ["WMT", "Walmart", "Retail", "Supercenter", "Grocery", "E-commerce", "Discount", "Sam’s Club", "Logistics", "Supply chain"],
    "XOM": ["XOM", "ExxonMobil", "Oil", "Energy", "Petroleum", "Refining", "Natural gas", "Fossil fuels", "Chemicals", "Upstream"],
    "MA": ["MA", "Mastercard", "Credit card", "Payments", "Fintech", "Debit", "Transactions", "Digital wallet", "Contactless", "Financial services"],
    "JNJ": ["JNJ", "Johnson & Johnson", "Pharma", "Healthcare", "Medical devices", "Consumer health", "Tylenol", "Vaccines", "Medtech", "Band-Aid"],
    "PG": ["PG", "Procter & Gamble", "P&G", "Consumer goods", "Tide", "Gillette", "Crest", "Pampers", "Oral-B", "Household products"],
    "ORCL": ["ORCL", "Oracle", "Database", "Cloud", "Software", "ERP", "Fusion", "Java", "Larry Ellison", "Autonomous DB"],
    "HD": ["HD", "Home Depot", "Retail", "Hardware", "Construction", "DIY", "Tools", "Appliances", "Home improvement", "Building supplies"],
    "ADBE": ["ADBE", "Adobe", "Photoshop", "Illustrator", "Premiere", "Acrobat", "Creative Cloud", "Firefly", "PDF", "Design", "AI tools"],
    "ASML": ["ASML", "Lithography", "EUV", "Semiconductors", "Chips", "Veldhoven", "Wafer", "Foundry", "Manufacturing", "Laser optics"],
    "CVX": ["CVX", "Chevron", "Oil", "Energy", "Petroleum", "Gas", "Refining", "Upstream", "Downstream", "Fossil fuels"],
    "COST": ["COST", "Costco", "Retail", "Wholesale", "Membership", "Warehouse", "Bulk", "Kirkland", "E-commerce", "Groceries"],
    "TM": ["TM", "Toyota", "Automotive", "Cars", "Hybrid", "EV", "Corolla", "Camry", "Lexus", "Mobility"],
    "MRK": ["MRK", "Merck", "Pharma", "Keytruda", "Vaccines", "Medicine", "Biotech", "Oncology", "Health", "Research"],
    "KO": ["KO", "Coca-Cola", "Beverage", "Soft drink", "Soda", "Diet Coke", "Fanta", "Sprite", "Coke Zero", "Refreshment"],
    "ABBV": ["ABBV", "AbbVie", "Humira", "Skyrizi", "Rinvoq", "Pharma", "Immunology", "Therapeutics", "Biopharma", "Oncology"],
    "BAC": ["BAC", "Bank of America", "Finance", "Investment", "Credit", "Loans", "Wealth management", "Mortgage", "Banking", "Savings"],
    "PEP": ["PEP", "Pepsi", "PepsiCo", "Beverages", "Snacks", "Lay’s", "Gatorade", "Mountain Dew", "Doritos", "Quaker"],
    "FMX": ["FMX", "FEMSA", "Coca-Cola FEMSA", "Mexico", "Retail", "OXXO", "Logistics", "Beverages", "Distribution", "Consumer goods"],
    "CRM": ["CRM", "Salesforce", "Cloud", "Customer relationship", "Software", "CRM platform", "SaaS", "AI", "Slack", "Marc Benioff"],
    "SHEL": ["SHEL", "Shell", "Energy", "Oil", "Gas", "Renewables", "Petroleum", "Hydrogen", "LNG", "Refining"],
    "ACN": ["ACN", "Accenture", "Consulting", "IT services", "Technology", "Strategy", "Digital transformation", "Cloud", "AI", "Outsourcing"],
    "NFLX": ["NFLX", "Netflix", "Streaming", "Movies", "Series", "Shows", "Content", "Subscription", "Originals", "Reed Hastings"],
    "MCD": ["MCD", "McDonald's", "Fast food", "Big Mac", "Fries", "Restaurant", "McCafe", "Menu", "Drive-thru", "Burgers"],
    "AMD": ["AMD", "Advanced Micro Devices", "Ryzen", "Radeon", "EPYC", "GPU", "CPU", "Chips", "Lisa Su", "Semiconductors"],
    "LIN": ["LIN", "Linde", "Industrial gases", "Chemicals", "Oxygen", "Hydrogen", "Engineering", "Energy", "Manufacturing", "Industrial"],
    "NVS": ["NVS", "Novartis", "Pharma", "Medicine", "Research", "Biotech", "Cosentyx", "Oncology", "Drugs", "Healthcare"],
    "AZN": ["AZN", "AstraZeneca", "Pharma", "Vaccines", "Biotech", "Tagrisso", "Health", "Oncology", "Research", "Medicine"],
    "CSCO": ["CSCO", "Cisco", "Networking", "Routers", "Switches", "Security", "Webex", "Collaboration", "Enterprise", "Cloud"],
    "TMO": ["TMO", "Thermo Fisher", "Scientific", "Lab", "Research", "Biotech", "Equipment", "Diagnostics", "Genomics", "Healthcare"],
    "BABA": ["BABA", "Alibaba", "E-commerce", "Taobao", "Tmall", "Cloud", "Alipay", "China", "Retail", "Jack Ma"],
    "INTC": ["INTC", "Intel", "Processor", "CPU", "Chip", "Semiconductors", "Core", "Xeon", "Foundry", "Computing"],
    "PDD": ["PDD", "Pinduoduo", "Temu", "E-commerce", "China", "Discounts", "Online retail", "Marketplace", "Social commerce", "Shopping"],
    "SAP": ["SAP", "ERP", "Software", "Enterprise", "Cloud", "Business solutions", "S/4HANA", "Analytics", "CRM", "Germany"],
    "ABT": ["ABT", "Abbott", "Medical devices", "Diagnostics", "Healthcare", "Nutrition", "Pharma", "Testing", "Glucose monitor", "Biotech"],
    "TMUS": ["TMUS", "T-Mobile", "Telecom", "Wireless", "5G", "Network", "Cellular", "Unlimited", "Sprint", "Coverage"],
    "PFE": ["PFE", "Pfizer", "Pharma", "Vaccines", "Medicine", "COVID", "Comirnaty", "Therapeutics", "Research", "Healthcare"],
    "DIS": ["DIS", "Disney", "Entertainment", "Movies", "Pixar", "Marvel", "Star Wars", "Parks", "Streaming", "ESPN"],
    "NKE": ["NKE", "Nike", "Sportswear", "Shoes", "Apparel", "Sneakers", "Air Jordan", "Athletics", "Fitness", "Brand"],
    "CMCSA": ["CMCSA", "Comcast", "NBCUniversal", "Xfinity", "Internet", "Cable", "Media", "Peacock", "Telecom", "Entertainment"],
    "DHR": ["DHR", "Danaher", "Life sciences", "Biotech", "Diagnostics", "Healthcare", "Lab", "Instrumentation", "Research", "Technology"],
    "INTU": ["INTU", "Intuit", "Finance software", "TurboTax", "QuickBooks", "Credit Karma", "Mint", "Tax", "Accounting", "Small business"],
    "TTE": ["TTE", "TotalEnergies", "Oil", "Gas", "Energy", "Renewables", "France", "Power", "Hydrogen", "Petroleum"],
    "WFC": ["WFC", "Wells Fargo", "Bank", "Finance", "Investment", "Loans", "Mortgage", "Credit", "Wealth", "Savings"],
    "VZ": ["VZ", "Verizon", "Telecom", "Wireless", "5G", "Network", "Mobile", "Internet", "Cellular", "Coverage"],
    "BHP": ["BHP", "Mining", "Resources", "Iron ore", "Copper", "Nickel", "Commodities", "Australia", "Energy", "Extraction"],
    "HDB": ["HDB", "HDFC Bank", "India", "Finance", "Banking", "Loans", "Credit", "Retail banking", "Digital banking", "Wealth management"]
}